@using BookStorage.Models.DAL

@{
    ViewBag.Title = "Index";
}

@section PageScripts
{
    <script>
        function getAuthorDetails(userId) {

            var url = '@Url.Action("Index", "Author", new { area = "User", authorId = "__cl" })';

            window.location.href = url.replace('__cl', userId);
        }
    </script>
}

<h2>Book Info</h2>
<table>
    <tr>
        <td>
            <img src="@Url.Action("Cover", new {bookId = ViewBag.BookView.Book.ISBN})" />
        </td>
        <td>
           <table>
               <tr>
                   <td><b>Name</b></td>
                   <td>@ViewBag.BookView.Book.Name</td>
               </tr>
               <tr>
                   <td><b>Description</b></td>
                   <td>@ViewBag.BookView.Book.Description</td>
               </tr>
           </table> 
        </td>
    </tr>
</table>
@if (ViewBag.BookView.Authors.Count>0)
{
    <h3>Authors</h3>
}
@foreach (Author author in ViewBag.BookView.Authors)
{
    <br />
    <a onclick="getAuthorDetails(@author.Id)">
        <h4>@author.Person.Name @author.Person.Surname</h4>
    </a>
}
<br />



